<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="enode" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=true;Initial Catalog=Conference_ENode;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;Asynchronous Processing=true;MultipleActiveResultSets=true" />
    <add name="conference" connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=true;Initial Catalog=Conference;Connect Timeout=30;Min Pool Size=10;Max Pool Size=100;Asynchronous Processing=true;MultipleActiveResultSets=true" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlClient" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
